
<div id="menu" class="menu">

    <img src="billederprog/Stortbillede.png" alt="Logo" id="PTLogo" >

    <button href="javascript:void(0)" id= "menubtn" class="menubtn" onclick="changeMenu()">&lt;</button>

    <a href="/" class="menuLink">
        <span class="symbol">&#127968</span>
        <span id="menuDashboard" class="menuText">Dashboard</span>
        </a>
    <a href="/portfolios" class="menuLink">
        <span class="symbol">&#128193</span>
        <span id="menuPortfolios" class="menuText">Portofolios</span>
    </a>
    <a href="/accounts" class="menuLink">
        <span class="symbol">&#128202</span>
        <span id="menuPortfolios" class="menuText">Accounts</span>
    </a>
    <a href="/manageaccount" class="menuLink">
        <span class="symbol">&#128295</span> 
        <span id="menuAccounts" class="menuText">Settings</span>
    </a>
    <form action="/logout" method="get">
     <button id="logoutbtn">LOGOUT</button>
    </form>
</div>
<script>

let menuOpen = true; 
let logo = document.getElementById('PTLogo')
function changeMenu(){
    document.getElementById("menu").classList.toggle("closed");
    document.getElementById("main").classList.toggle("closed");
    document.getElementById("menubtn").classList.toggle("closed");
    document.getElementById("logoutbtn").classList.toggle("closed")

    document.querySelectorAll(".menuText").forEach(el => {
        el.classList.toggle("closed");
    });

    

    if(!menuOpen){
        document.getElementById("menubtn").innerHTML = "<"
        logo.src = "billederprog/Stortbillede.png"
        logo.style.width = "250px"
    } else {
        document.getElementById("menubtn").innerHTML = ">"
        logo.src = "billederprog/Lillebillede.png"
        logo.style.width = "80px"
    }
    menuOpen = !menuOpen;
    
}

</script>