<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortofolioTracker</title>
    
    <%- include('partials/menu') %>

    <link rel="stylesheet" href="/css/style.css">
 
</head>

<body id="main" class="main">
<button id = "openform">Add account</button>
    <div id = "popupForm" class="popup">
        <h2>Add ledger</h2>

        <form action="/accounts" method="post">

            <label for="name">Account name</label>
            <input type="text" name="name" required>

            <label for="bank">Bank</label>
            <select name="bank" id="choseBank">
                <option value="text">Nordea</option>
                <option value="text">Danske Bank</option>
            </select>

            <label for="balance"> Starting balance</label>
            <input type="number" name = "balance">
            <button type="submit">Open account</button>
        
            <label for="currency">Currency</label>
            <select name="currency" id="choseCurrency">
                <option value="DKK">DKK</option>
                <option value="USD">USD</option>
            </select>
        </form>
    </div>
  </body>
</html>