<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortofolioTracker</title>
    
    <%- include('partials/menu') %>

    <link rel="stylesheet" href="/css/style.css">
 
</head>
<body id="main" class="main">
    <form action="/createaccount" method="POST">
    <div class ="loginpage">
    <h1>Create account</h1>

    <input type="text" class="halfsizeinput" name="firstname" placeholder="First name"> 
    <input type="text" class="halfsizeinput" name="lastname" placeholder="Last name">

    <input type="email" class="inputbruger" name="email" placeholder="E-mail">
    <br>
    <input type="password" class="inputbruger" name="password" placeholder="Password">
    <br>
    <input type="password" class="inputbruger" name="repeatpassword" placeholder="Repeat Password">
    <br>
    <button type="submit" id = "loginbtn" >Create account</button>
        
    </div>
    </form>
</body>
</html>