<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortofolioTracker</title>
    <%- include('partials/menu') %>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/style.css">
 
</head>
<body>
    <div class="main">
    <h1 style="color: aqua;">Test</h1>
    </div>
    <h1>test2</h1>
    
 
</body>
</html>