<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortofolioTracker</title>
    
    <%- include('partials/menu') %>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="main" class="main">
    <div class="loginpage">
    <h2>Press this button to reactivate your account</h2>
    
    <form action="/activateaccount" method="post">
        <button id =" activateaccountbtn"class="greenbtn">Activate account</button>
    </form>
</div>
</body>
</html>