<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortofolioTracker</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
    <div class="menucontainer">
        <!-- aside class bruges da dette ikke er direkte involveret i sidens indhold -->
        <aside class="menu">
            <% include partials/menu %>
        </aside>
        <div class="menubody">
            <%- body %>
        </div>
    </div>
</body>
</html>