body {
  background: rgb(0, 0, 0);
  font-family: 'Inter', sans-serif;
}
.main {
  padding-left: 220px;
  transition: 0.3s;
  color: #fff;
  font-weight: 400;
}
.menu {
  height: 100%;
  width: 220px;
  position: fixed;
  background: #120027;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.3s;
}
.menu a {
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
  color: #9646ffaf;
  display: block;
  transition: 0.2s;
}
.menu a:hover {
  color: #ffffff;
}
.menubtn {
  position: fixed;
  top: 60px;
  left: 210px;
  z-index: 9999;
  color: #fff;
  background: #727272;
  border-radius: 45%;
  width: 38px;
  height: 38px;
  font-size: 25px;
  border: none;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}
.menubtn:hover {
  background: #969696;
}
.menubtn.closed {
  left: 4%;
}
.menu.closed {
  width: 5%;
}
.menuText.closed, #logoutbtn.closed {
  display: none;
}

img {
  margin: -30px 0 0 -15px;
  width: 250px;
  height: 70px;
  transition: 0.3s;
}
.loginpage {
  position: fixed;
  top: 40px;
  left: 40%;
  width: 350px;
  padding: 20px;
  background: #130029d2;
  font-size: 20px;
  border-radius: 40px;
  height: 2000px;
  z-index: 10;
}
.inputbruger, .halfsizeinput {
  width: 100%;
  padding: 14px;
  margin: 12px 0 5px;
  font-size: 20px;
  background: #525252;
  border: none;
  border-radius: 200px;
  box-sizing: border-box;
}
.halfsizeinput {
  width: 49%;
}
.loginpage a, .loginpage h1, .loginpage p {
  margin-left: 2px;
  color: #fff;
}

.loginbtn, .deleteAccountbtn {
  width: 350px;
  height: 40px;
  margin-top: 15px;
  font-size: 25px;
  border: none;
  border-radius: 70px;
  cursor: pointer;
}

.greenbtn {
  width: 300px;
  height: 40px;
  margin-top: 15px;
  font-size: 25px;
  border: none;
  border-radius: 70px;
  cursor: pointer;
}
.greenbtn, .loginbtn {
  background: #2fbe36;
}
.deleteAccountbtn {
  background: red;
}
#createaccount {
  width: 350px;
  height: 40px;
  margin-top: 10px;
  font-size: 25px;
}
#forgettenpassword {
  font-size: 18px;
  margin: 20px 0 0 10px;
}
.errorBox {
  font-size: 0;
}
.errorList {
  color: red;
  font-size: 14px;
  margin: -15px 0 0 -20px;
}
#logoutbtn {
  width: 100%;
  padding: 15px;
  background: #250047;
  color: #ffffffa4;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 200px;
}
#logoutbtn:hover {
  color: #fff;
  background: #3d0075;
}
.activateaccountbtn {
  position: center;
}

.popup {
  position: fixed; 
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#createPortfolioPopup {
  padding-left: 450px;
  margin-top: -450px ;
}

#popupform, #balancepopup {
 width: auto;
 padding: 200px 200px;
}

.popup.hidden, .accounttable.hidden, .accountsdash.hidden {
  display: none;

}
#insideform, #divbalancepopup, #formAddportfolio, #formSellTrade {
  background: #160025;
  padding: 0 50px 35px 35px;
  border-radius: 15px;
  border: 4px solid rgb(179, 0, 250);
  width: 300px;
  position: relative;

}
#closeformbtn, #closeRegisterFormBtn, #closeSellFormBtn, #closebalancebtn {
  position: absolute;
  right: 15px;
  top: 15px;
  font-weight: bolder;
}
#closeformbtn:hover, #closeRegisterFormBtn:hover, #closeSellFormBtn:hover, #closebalancebtn:hover {
  cursor: pointer;
  color: black;
  font-weight: bold;
}
.popup form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#ledgerform input, #formbalance input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}
#ledgerform select, #formbalance select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 106%;
}
#ledgerform button, #formbalance button {
  width: 106%;
  height: 40px;
  margin-top: 5px;
  font-size: 20px;
  border: none;
  border-radius: 70px;
  cursor: pointer;
}
#openformbtn, #historybtn, #registertradebtn{
  border: none;
  border-radius: 5px;
  background: #474747;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  width: 140px;
  height: 50px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px black;
}

#sellTradeBtn{
  border: none;
  border-radius: 5px;
  background: #8a8a8a;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  width: 80px;
  height: 35px;
}

.accountswrap {
  display: flex;
  justify-content: space-between; 
}
.buttons {
  display: flex;
  text-align: center;
  gap: 10px; 
  padding: 10px 50px;
}

.accounttable, .halfaccounttable {
  margin: 30px 40px 0 50px;
  background: #474747;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: 0 4px 10px black;
}
.accounttable {
  width: 90%;
  min-height: 325px;
  max-height: 325px;
}
.halfaccounttable {
  width: 43%;
  height: 200px;
  font-size: 30px;
}
.accounttable th, .halfaccounttable th {
  background: #5c5c5c;
  padding: 20px;
  font-size: 15px;
  color: white;
}
.accounttable td {
  padding: 0;
  text-align: center;
  border-bottom: 1px solid black;
  color: #fff;
}
.accountbtn, #deletebtn, #choseaccount {
  padding: 1px 10px;
  margin: 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 125px;
  height: 50px;
  background-color: #808080; 
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountbtnportfolio{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background: #8a8a8a;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  height: 35px;
  text-decoration: none;
}
#deletebtn {
  background:  red;
}
#choseaccount {
  background: green;
}
.accounth1 {
  margin: 25px 0 0 50px;
  text-shadow: 4px 4px 10px rgb(0, 0, 0);
}
.samletbalance {
  font-size: large;
  padding: 20px 0 0 20px;
}
#chartinUSDandDKK {
  margin: 30px 50px 0 0;
  background: #474747;
  width: 43%;
  height: 200px;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
}
.accountsdash {
  display: flex;
}
/* Fælles stil for både top bokse og bund bokse */
.box {
  background-color: #474747;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px black;
  flex: 1;
  margin: 10px;
  height: auto;
}

/* Layout til top og bund-bokse */
.top-boxes,
.bottom-boxes {
  display: flex;
  justify-content: space-between;
  margin: 8px;
  gap: 8px;
  width: auto;
}
#transactiontable {
  display: table;
  width: 90%;
  min-height: 325px;
  max-height: 325px;
  margin: 30px 40px 0 50px;
  overflow-y: auto;
  border-radius: 10px;
  background: #474747;
  font-family: 'Inter', sans-serif;
}

#transactiontable th {
  background: #5c5c5c;
  padding: 20px;
  font-size: 15px;
  color: white;
}

#transactiontable td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid black;
  color: white;
}

.deposit {
  color: green !important;
  
}

.withdraw {
  color: red !important;
}

#gotoaccount {
  display: inline-block;
  padding: 12px 24px;
  margin: 20px 50px;
  background-color: #5c5c5c;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border-radius: 8px;
}

#gotoaccount:hover {
  background-color: #777777;
 
}

.portfoliotop {
  display: grid;
  grid-template-columns: 35% 60%;
  gap: 20px;
  margin: 30px 37px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto;
}

.portfoliotop2 {
  display: grid;
  gap: 20px;
  margin: 30px 37px;
  display: grid;
  grid-template-columns: 18% 40%;
  grid-template-rows: auto auto;
}

.portfolioboxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#portofoliovalue {
  width: 220px;
  margin: 12px;
  border-radius: 12px;
  color: #fff;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: -5px;
  max-height: 120px;
}

#portofoliochange {
  width: 220px;
  margin: 12px;
  border-radius: 12px;
  color: #fff;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: -5px;
  max-height: 160px;
}

#portofoliovalue{
  line-height: 0.0;
 
}
#portofoliovalue h4, #portofoliochange h4 {
  margin-top: 8px;

}
#portofoliovalue p, #portofoliochange p {
  margin-top: 5px;
}

#portofoliopie {
  width: 90%;
  max-width: 600px;
  height: 100%;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#portofoliochart{
  width: 90%;
  height: 350px;
  margin-right: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#registertrade, #selltrade {  
  margin-left: 400px;
  margin-top: -500px;
}

#formAddportfolio form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

button[disabled] { 
  opacity:.5; 
  cursor:not-allowed;
 }

#portfoliospie{
  height: 220px;
  width: 88%;
}

#portfoliotopdetails{
 height: 300px;
}
#h3accountdet{
  margin-bottom: -10px;
  margin-left: 70px;
  margin-top: -25px;
}

.portfoliotop > .box:first-child {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  height: 80%;
}

.history-container {
  margin: 0 auto;
  width: 90%;
  padding-top: 20px;
  font-family: Arial, sans-serif;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.history-table th,
.history-table td {
  border: 1px solid #555;
  padding: 12px;
  text-align: left;
}


.history-table thead {
  background-color: #444;
  color: white;
}


.history-table tbody {
  background-color: #222;
}

.history-table tbody td {
  color: white;
}


.history-table tbody tr:hover {
  background-color: #333;
}

.popupform {
  text-decoration: none;
}

#historyChart {
  width: 80%;
  height: 300px;
  margin: 1px;
}

.transactionHistory {
margin-left: 50px;
margin-top: 20px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.712);
}

#accounttableportdetails{
  margin-top: -50px;
  height: auto;

}
.positive {
  color: #4caf50;
}

.negative {
  color: #f44336;
}
.unrealized-gains-table, .top-valued-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.unrealized-gains-table th, .unrealized-gains-table td, .top-valued-table th, .top-valued-table td {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: left;
}

.unrealized-gains-table th, .top-valued-table th {
  background-color: #000000;
  font-weight: bold;
}

.unrealized-gains-table tr, .top-valued-table tr {
  background-color: #6c6c6c;
}

#stocklink {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

#stocklink:hover {
  color: #8b1dca;
  text-decoration: underline;
}

.stock‐detail‐wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 40px;
  height: 100%;
}
#chart{
  width: 100%;
  height: 400px;
  margin-top: 20px;
}
#stockInfoBox p{
  margin: 10;
  font-size: 20px;
  color: #ffffff;

}


