body{
    background-color: black;
}
.main{
    padding-left: 220px;
    transition: 0.3s;
    color: rgb(255, 255, 255);
    font-family: 'inter', sans-serif;
    font-weight: 400;
    
}

/* herunder er styling brugt til menu*/
.menu{
    height: 100%;
    width: 220px;
    max-width: 220px;
    position: fixed;
    background-color: rgb(41, 41, 41);
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 50px;
    transition:  0.3s;
    font-family: 'inter', sans-serif;
}
.menu a{
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #84837E;
    display: block;
    border-left:5px ;

}
.menu a:hover{
    color: white;
}

.menubtn{
    position: fixed;
    top: 60px;
    left: 210px;
    z-index: 9999;
    color: white;
    background-color: rgb(114, 114, 114);
    border-radius: 45%;
    width: 38px;
    height:38px ;
    font-size: 25px;
    border: none;
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}
.menubtn:hover{
    background-color: rgb(150, 150, 150);
    cursor: pointer;
}
/*viser hvordan vi håndtere en lukket menu*/
.menubtn.closed{
    left: 4%;
    cursor: pointer;
    
}
.menu.closed{
    width: 5%;
    
}

.main.closed{
    padding-left: 220px;
}
.menuText.closed{
 display: none;
}

img{
    margin-top: -30px;
    margin-left: -15px;
    width: 250px;
    height: 70px;
    transition: 0.3s;
}
.loginpage{
    position: fixed;
    top: 40px;
    right: 30%;
    width: 350px;
    padding: 30px;
    z-index: 10;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 200px;
    height: 2000px;
   
}
.inputbruger{
    width: 100%;
    padding: 14px;
    border: 3px;
    margin-top: 12px;
    font-size: 20px;
    background-color: rgb(82, 82, 82);
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 200px;
}
.loginpage a{
    color: rgb(255, 255, 255);
    margin-left: 2px;
}
.loginpage h1{
    margin-left: 2px;
}
.loginpage p{
    margin-left: 2px;
}

.greenbtn{
    width: 350px;
    height: 40px;
    margin-top: 15px;
    font-size: 25px;
    background-color: rgb(47, 190, 54);
    border: 5px;
    border-radius: 70px;
    cursor: pointer;
}

#deleteAccountbtn{
    width: 350px;
    height: 40px;
    margin-top: 15px;
    font-size: 25px;
    background-color: red;
    border: 5px;
    border-radius: 70px;
    cursor: pointer;
}
#createaccount{
    width: 350px;
    height: 40px;
    margin-top: 10px;
    font-size: 25px;
}
#forgettenpassword{
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
}

.halfsizeinput{
        width: 49%;
        padding: 14px;
        border: 3px;
        margin-top: 10px;
        font-size: 20px;
        background-color: rgb(82, 82, 82);
        box-sizing: border-box;
        margin-bottom: 5px;
        border-radius: 200px;
}

.errorBox{
    font-size: 0px;
}

.errorList{
    color: red;
    font-size:14px;
    margin-left: -20px;
    margin-top: -15px;
    margin-top: -15px;
}
#logoutbtn{
    width: 100%;
    padding: 15px;
    background-color: rgb(41, 41, 41);
    color:  rgb(114, 114, 114);
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 200px;
}
#logoutbtn:hover{
    color: white;
}
#logoutbtn.closed{
    display: none;
}

.activateaccountbtn{
    position: center;
}

.popup{
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.popup.hidden{
    display: none;
}
#insideform {
    background: rgb(71, 71, 71);
    padding: 0px 50px 35px 35px ;
    border-radius: 10px;
    width: 300px;
    position: relative;
    font-family: 'inter', sans-serif;
  }
  #closeformbtn{
    position: absolute; 
    right: 15px;
    top: 15px;
    font-weight: bolder;
  }
  #closeformbtn:hover{
    cursor: pointer;
    color: black;
    font-weight: bold;
  }
  .popup form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
#ledgerform input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}
#ledgerform select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 106%;
  }
 
  #ledgerform button{
    width: 106%;
    height: 40px;
    margin-top: 5px;
    font-size: 20px;
    border: none;
    border-radius: 70px;
    cursor: pointer;
  } 

  #openformbtn{
    padding: 1px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(71, 71, 71);
    color: white;
    cursor: pointer;
    font-size: 20px;
    width: 140px; 
    height: 50px; 
    position: absolute;
    right: 100px;
    top: 20px;
  }

  .accounttable{
    margin: 10px auto;
    margin-top: 3%;
    background-color: rgb(71, 71, 71);
    padding: 0px;
    width: 90%;
    min-height: 325px;
    max-height: 325px;
    overflow-y: auto;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .accounttable th{
    background-color: rgb(92, 92, 92);
    padding: 20px;
    top: 0;
    margin-top: 50%;
    z-index: 1;
  }
  .accounttable.hidden{
    display: none;
  }
  .accounttable td{
    padding: 0px;
    text-align: center;
    border-bottom: 1px solid black;
    color: rgb(255, 255, 255);
    
  }
  .accountbtn {
    padding: 1px 10px;
    margin: 1px;
    border: none;
    border-radius: 5px;
    background-color: rgb(122, 18, 192);
    color: white;
    cursor: pointer;
    font-size: 10px;
    width: 100px; 
    height: 50px; ;
  }
   #deletebtn{
    background-color: red;
  }
  #choseaccount{
    background-color: green;
  }
  .accounth1{
    margin-left: 50px;
    margin-top: 25px;
  }
   .halfaccounttable{
    margin-top: 30px;
    margin-left: 50px;
    background-color: rgb(71, 71, 71);
    padding: 0px;
    width: 43%;
    height: 200px;
    overflow-y: auto;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 30px;
  }
  .halfaccounttable th {
    font-size: 20px;
    color: white; 
    padding: 5px
  }
  .samletbalance{
    font-size: large;
    padding-left: 20px;
    padding-top: 20px;
  }

  #formbalance input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
  }
  #formbalance select {
      padding: 10px;
      border: none;
      border-radius: 5px;
      width: 106%;
    }
   
    #formbalance button{
      width: 106%;
      height: 40px;
      margin-top: 5px;
      font-size: 20px;
      border: none;
      border-radius: 70px;
      cursor: pointer;
    } 

    #divbalancepopup{
      background: rgb(71, 71, 71);
      padding: 0px 50px 35px 35px ;
      border-radius: 10px;
      width: 300px;
      position: relative;
      font-family: 'inter', sans-serif;
      z-index: auto;
    }

    #closebalancebtn{
      position: absolute; 
      right: 15px;
      top: 15px;
      font-weight: bolder;
    }

    #chartinUSDandDKK{
      margin-top: 30px;
      margin-left: 40px;
      background-color: rgb(71, 71, 71);
      width: 43%;
      padding: 0px;
      height: 200px;
      border-radius: 10px;
      font-family: 'Inter', sans-serif;
      font-size: 30px;
      
    }
    .accountsdash.hidden{
      display: none;
    }
    .accountsdash{
      display: flex;
    }