.menu{
    height: 100%;
    width: 10%;
    position: fixed;
    background-color: rgb(41, 41, 41);
    overflow-x: hidden;
    padding-top: 0px;
}
.menu a{
    padding: 10px 10px 10px 10px;
    font-size: 30px;
    color: white;
    display: inline-block;
}
.menu a:hover{
    color: gray;
}
.MenuLink{
    color: yellow;
}